{% extends "header.html" %}

{% block content %}

<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <strong>Feedback</strong> Table</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>FEEDBACK DESC.</th>
                                            <th>FEEDBACK DATE</th>
                                            <th>FEEDBACK BY</th>
                                            <th>FEEDBACK ON</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for feedback in f %}
                                   <tr>
                                        <td>{{ feedback.f_desc }}</td>
                                        <td>{{ feedback.f_date }}</td>
                                        <td>{{ feedback.user_id.user_name }}</td>
                                        <td>{{ feedback.p_id.p_name }}</td>
                                   </tr>
                                {% endfor %}

                                    </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}