{% extends "header1.html" %}
{% load static %}
{% block content %}
<!-- Breadcrumbs Section Start -->
        <div class="rs-breadcrumbs">
            <div class="breadcrumbs-wrap">
                <img src="{% static 'images/breadcrumbs/breadcrumb_shop.jpg' %}" alt="Breadcrumbs Image">
                <div class="breadcrumbs-inner">
                    <div class="container">
                        <div class="breadcrumbs-text">
                            <h1 class="breadcrumbs-title mb-17">Your Orders</h1>
                            <div class="categories">
                                <ul>
                                    <li><a href="/client_page/home">Home</a></li>
                                    <li class="active">Cart</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs Section End -->


        <!-- checkout Page Start Here -->
        <div id="rs-checkout" class="rs-checkout pt-100 md-pt-80">
            <div class="container">
                <div>
                    <center>
                    <h1 style="color:red">Error in Payment Process</h1>
                        <br/>
                        <a class="readon" href="/client_page/order">
                            Go Back to Order
                        </a>

                    </center>
                </div>
                <!-- Subscribe Section Start -->
                <div class="rs-subscribe bg7">
                    <form class="subscribe-form" method="POST" action="/client_page/subscribe">
                        {% csrf_token %}
                        <div class="row rs-vertical-middle">
                            <div class="col-lg-6 col-md-12 md-mb-30">
                                <div class="title-part">
                                    <h2 class="title white-color"> Subscribe For Update</h2>
                                    <p class="desc margin-0 white-color"> Subscribe to our newsletter for getting regular updates.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="subscribe-form-fields">
                                    <input type="submit" class="news-submit" value="Subscribe">
                                    <input type="email" class="news-email" name="EMAIL" placeholder="EMAIL ADDRESS" required="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Subscribe Section End -->
            </div>
        </div>
            <!-- checkout Page End Here -->
{% endblock %}